# GitHub code owners
# See https://help.github.com/articles/about-codeowners/
#
# KEEP THIS FILE SORTED. Order is important. Last match takes precedence.

* @arush-sal @joshiomkarj

pkg/util/netutils/** @joshiomkarj
pkg/util/procutils/** @arush-sal
pkg/util/diskutils/** @arush-sal
pkg/util/bpfutils/** @arush-sal
pkg/util/sysutils/** @arush-sal
pkg/util/dashboard/** @arush-sal
